data_directory = "./data_dir"
params.data_dir = "./data_dir"
params.fastqDir = "$data_directory/fastq/*.fastq"
params.fastqTrimDir = "$data_directory/trimmeds"
params.fileList = "$data_directory/trimmeds/"
params.fastQC_before = "$data_directory/QC/before"
params.fastQC_after = "$data_directory/QC/after"
params.fastqTrimDir = "$data_directory/trimmeds"
params.genomeDir_FirstPass = "$data_directory/reference/genome_index"
params.genomeDir = "$data_directory/reference/second_hand_genome_index"
params.runDir_FirstPass = "$data_directory/STAR_pass1"
params.runDir = "$data_directory/STAR_pass2"
params.genomeFa = "$data_directory/reference/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"